.features {
    width: 100%;
    background-color: #131C25;  
    padding: 100px 0 100px;

    @include media(">=tablet") {
        padding: 70px 0 150px;
    }

    @include media(">=desktop") {
        padding: 120px 0 150px;
    }

    @include media(">=wide") {
        padding: 170px 0 200px;
    }

    &__title {
        margin-bottom: 50px;

        @include media(">=tablet") {
            margin-bottom: 70px;
        }

        @include media(">=wide") {
            margin-bottom: 90px;
        }
    }

    &__item {
        margin-bottom: 50px;

        @include media(">=tablet") {
            margin-bottom: 50px;
        }

        @include media(">=desktop") {
            margin-bottom: 50px;
        }

        @include media(">=wide") {
            margin-bottom: 100px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &:nth-child(even){
            .feature {
                flex-direction: row-reverse;
                
                &__text {

                    @include media(">=desktop") {
                        padding: 0 10px 0 25px;
                    }
        
                    @include media(">=wide") {
                        padding: 0 10px 0 70px;
                    }
                }
            }
        }
    }

    .feature {
        display: block;

        @include media(">=desktop") {
            display: flex;
            align-items: center;
        }

        &__text {
            flex: 0 0 35%;
            padding: 0;
            margin-bottom: 20px;

            @include media(">=tablet") {
                padding-left: 10px;
            }

            @include media(">=desktop") {
                padding: 0 25px 0 10px;
                margin-bottom: 0;
            }

            @include media(">=wide") {
                padding: 0 70px 0 10px;
            }
        }

        &__title {
            line-height: 1.2;
            font-weight: 600;
            color: #fff;
            margin-bottom: 10px;
            font-size: 20px;
            margin-bottom: 10px;

            @include media(">=desktop") {
                font-size: 24px;
                margin-bottom: 10px;
            }

            @include media(">=desktop") {
                margin-bottom: 20px;
            }
        }

        &__desc {
            color: var(--color-text-grey);
            line-height: 1.5;
            font-weight: 500;
            font-size: 15px;

            @include media(">=desktop") {
                font-size: 17px;
            }
        }

        &-img {
            flex: 0 0 65%;
            position: relative;
            font-size: 0;

            &__main {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            &__overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }

                &--1 {
                    width: 100%;
                    left: 7%;
                }

                &--2 {
                    width: 97%;
                    top: 8%;
                    left: 5%;
                }

                &--3 {
                    width: 97%;
                    left: 7%;
                    top: 9%;
                }

                &--4 {
                    width: 97%;
                    top: 7%;
                    left: 5%;
                }
            }
        }
    }
}