.footer {
    width: 100%;
    background-color: #181819;
    padding: 20px 0;

    &__content {
        display: grid;

        grid-template-areas: 
            "footer-logo"
            "footer-desc"
            "footer-menu-title"
            "footer-menu" 
            "footer-contacts-title"
            "footer-contacts"
            "footer-socials"
            "footer-policy"
            "footer-copy";

        @include media(">=tablet") {
            grid-template-rows: auto auto auto auto auto ;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;
            grid-template-areas: 
                "footer-logo footer-desc"
                "footer-menu-title footer-contacts-title"
                "footer-menu footer-contacts"
                "footer-menu footer-socials"
                "footer-copy footer-policy";
        }
        

        @include media(">=desktop") {
            grid-template-rows: 38px auto auto;
            grid-template-columns: 2fr 1fr 1fr;
            grid-template-areas: 
                "footer-logo footer-menu-title footer-contacts-title"
                "footer-desc footer-menu footer-contacts"
                "footer-copy footer-policy footer-socials";
        }
    }

    &-company {
        &__logo {
            grid-area: footer-logo;
            margin-bottom: 10px;

            @include media(">=tablet") {
                margin-bottom: 30px;
            }

            @include media(">=desktop") {
                margin-bottom: 0;
            }
        }

        &__desc {
            grid-area: footer-desc;
            color: var(--color-text-grey);
            font-size: 16px;
            line-height: 1.5;
            font-weight: 500; 
            max-width: 400px;
            margin-bottom: 20px;

            @include media(">=tablet") {
                margin-bottom: 30px;
            }

            @include media(">=desktop") {
                margin-top: 20px;
                margin-bottom: 0;
            }
        }
    }

    &__copyright {
        grid-area: footer-copy;
        color: var(--color-text-grey);
        font-size: 13px;
        line-height: 1.6;
        font-weight: 500;
        align-self: center;
    }

    &-menu {
        &__title {
            grid-area: footer-menu-title;
            color: var(--color-text-grey);
            font-size: 16px;
            line-height: 1.6;
            font-weight: 900;
            align-self: center;
        }

        &__list {
            grid-area: footer-menu;
            margin-bottom: 20px;

            @include media(">=tablet") {
                margin-bottom: 40px;
            }

            @include media(">=desktop") {
                margin-bottom: 60px;
            }
        }

        &__item {
            font-size: 16px;
            font-weight: 400;
            cursor: pointer;
            transition: all 0.3s ease;
            line-height: 2;

            @include media(">=tablet") {
                line-height: 2.8;
            }

            a {
                color: var(--color-text-grey);
                transition: all 0.3s ease;

                &:hover {
                    color: #fff;
                }
            }
        }   
    }

    &__policy {
        grid-area: footer-policy;
        font-size: 13px;
        line-height: 1.6;
        font-weight: 500;
        align-self: center;
        cursor: pointer;
        transition: all 0.3s ease;

        a {
            color: var(--color-text-grey);
            transition: all 0.3s ease;

            &:hover {
                color: #fff;
            }
        }
    }

    &-contacts {
        &__title {
            grid-area: footer-contacts-title;
            color: var(--color-text-grey);
            font-size: 16px;
            line-height: 1.6;
            font-weight: 900;
            align-self: center;
        }

        &__list {
            grid-area: footer-contacts;

            @include media(">=desktop") {
                margin-bottom: 60px;
            }
        }

        &__item {
            font-size: 16px;
            font-weight: 400;
            cursor: pointer;
            transition: all 0.3s ease;
            line-height: 2;

            @include media(">=tablet") {
                line-height: 2.8;
            }

            a {
                color: var(--color-text-grey);
                transition: all 0.3s ease;

                &:hover {
                    color: #fff;
                }
            }
        }
    }

    &-socials {
        &__list {
            display: flex;
        }

        &__item {
            width: 40px;
            height: 40px;
            cursor: pointer;
            opacity: 0.5;
            transition: all 0.3s ease;
            margin-right: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            @include media(">=tablet") {
                margin-right: 25px;
            }

            @include media(">=desktop") {
                margin-right: 15px;
            }

            @include media(">=wide") {
                margin-right: 25px;
            }

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                opacity: 1;
            }

            // img {
            //     width: 100%;
            //     height: 100%;
            //     object-fit: contain;
            // }

            svg {
                fill: #fff;
                width: 20px;
                height: 20px;
            }
        }
    }
}