@import "mediaqueries";
@import "reset";

@mixin font($font_name, $file_name, $weight, $style) {
    @font-face { font-family: $font_name; 
        font-display: swap; 
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2"); 
        font-weight: #{$weight}; 
        font-style: #{$style}; 
    }  
}
    
@import "fonts";

:root {
    --color-green: #51c100;
    --color-green-light: #73d02f;
    --color-text-grey: #6b747f;
    --color-grey-dark: #1D2835;
    --color-grey-dark: #5e7ea5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-weight: regular;
    font-family: 'Manrope', sans-serif;
}

body.locked {
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

.max-width-container {
    max-width: 450px;
    padding: 0 20px;
    margin: 0 auto;

    @include media(">=tablet") {
        padding: 0 50px;
        max-width: none;
    }

    @include media(">=desktop") {
        max-width: 1150px;
    }

    @include media(">=wide") {
        padding: 0;
    }
}

.main {
    margin-top: 70px;
}

.section-title {
    color: #fff;
    text-align: center;
    font-weight: 600;
    line-height: 1.2;
    font-size: 28px;

    @include media(">=tablet") {
        font-size: 32px;
    }

    @include media(">=desktop") {
        font-size: 32px;
    }
    
    @include media(">=wide") {
        font-size: 36px;
    }
}



@import "header";
@import "benefits";
@import "consumers";

